{% extends "network/layout.html" %}
    
{% block body %}
    <h4>ALL POSTS</h4>
    
    {%if user.is_authenticated%}
       
        <div class="nPost ">
                <h5>New Post</h5>
                <form action="{%url 'new_post'%}" method="post">
                    {%csrf_token%}
                    <textarea name="information" row="5" cols="120"></textarea><br>
                    <input type="submit" value= "Post" class="btn btn-primary">
                </form>
        </div>    

    {%endif%}

    
        {% for post in all_posts %}
        <div class="posts">
            <h4 class="name"> @{{post.user}}</h4>
                <h5 class="information"> {{post.information}}</h5>
                    <p class="date">{{post.date}}</p>
        </div>
    
        {% endfor %}
    

{% endblock %}