{% extends "network/layout.html" %}
    
{% block body %}
    <h4 class='head'>ALL POSTS</h4>
    
    {%if user.is_authenticated%}
       
        <div class="nPost ">
                <h5>New Post</h5>
                <form action="{%url 'new_post'%}" method="post">
                    {%csrf_token%}
                    <textarea name="information" row="10" cols="120"></textarea><br>
                    <input type="submit" value= "Post" class="btn btn-primary">
                </form>
        </div>    

    {%endif%}

    
        {% for post in posts_on_page %}
        <div class="posts">
            <h4 class="name"> @{{post.user}}</h4>
                <h5 class="information"> {{post.information}}</h5>
                    <p class="date">{{post.date}}</p>
        </div>
    
        {% endfor %}


        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex-justify-information-center">
                {% if posts_on_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{posts_on_page.previous_page_number}}">Previous</a></li>
                {%endif%}   
                {%if posts_on_page.has_next%}
                    <li class="page-item"><a class="page-link" href="?page={{posts_on_page.next_page_number}}">Next</a></li>
                {%endif%}
            </ul>
        </nav>
    

{% endblock %}